<a href="https://colab.research.google.com/github/siddharth7061/CommonWealthBank_Forage_Projects/blob/main/Task2/CWB_Forage_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import hashlib
import os

path = "/content/sample_data/mobile_customers.xlsx"
df = pd.read_excel(path)
df.head()

,Unnamed: 0,customer_id,date_registered,username,name,gender,address,email,birthdate,current_location,residence,employer,job,age,salary,credit_card_provider,credit_card_number,credit_card_security_code,credit_card_expire
0,0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,Jonathan Snyder,M,"24675 Susan Valley\nNorth Dianabury, MO 02475",marcus58@hotmail.com,1978-03-11,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,38985874269846,994,2023-10-27 00:00:00
1,1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,Susan Dominguez,F,"4212 Cheryl Inlet\nPort Davidmouth, NC 54884",alexanderkathy@hotmail.com,1970-11-29,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,6525743622515979,163,2023-07-30 00:00:00
2,2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,Corey Hebert,M,"07388 Coleman Prairie\nLake Amy, IA 78695",vwood@gmail.com,2009-04-23,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,4010729915028682247,634,2023-04-26 00:00:00
3,3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,Latasha Griffin,F,"PSC 6217, Box 2610\nAPO AA 53585",kathleen36@gmail.com,1992-07-27,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,4854862659569207844,7957,2023-10-31 00:00:00
4,4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,Colleen Wheeler,F,"0325 Potter Roads\nLake Lisashire, NM 77502",johnbest@hotmail.com,1989-09-16,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,213152724828217,72,2023-05-28 00:00:00

In [ ]:
# converting email as str
df['email'] = df['email'].astype(str)
print(type(df['email'].iloc[0]))  # This should print <class 'str'>

df['salary'] = df['salary'].astype(int)
print(type(df['salary'].iloc[0]))  # This should print <class 'int'>

<class 'str'>
<class 'numpy.int64'>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 10000 non-null  int64
 1   customer_id                10000 non-null  object
 2   date_registered            10000 non-null  datetime64[ns]
 3   username                   10000 non-null  object
 4   name                       10000 non-null  object
 5   gender                     10000 non-null  object
 6   address                    10000 non-null  object
 7   email                      10000 non-null  object
 8   birthdate                  10000 non-null  datetime64[ns]
 9   current_location           10000 non-null  object
 10  residence                  10000 non-null  object
 11  employer                   10000 non-null  object
 12  job                        10000 non-null  object
 13  age                        10000 non-null  int64
 14  salary                     10000 non-null  int64
 15  credit_card_provider       10000 non-null  object
 16  credit_card_number         10000 non-null  int64
 17  credit_card_security_code  10000 non-null  int64
 18  credit_card_expire         10000 non-null  object
dtypes: datetime64[ns](2), int64(5), object(12)
memory usage: 1.4+ MB

## Removing unnecessary columns

In [ ]:
new_df = df.drop(columns=['name', 'Unnamed: 0', 'credit_card_number', 'credit_card_security_code', 'address', 'birthdate', 'credit_card_expire'], axis = 1)


def sub_x(val):
    l = len(val)
    sub = ""
    for i in range(l):
        sub += 'x'  # Constructing the new string by adding 'x' for each character
    return sub

# Mask identifiable information
new_df['email'] = new_df['email'].apply(lambda x: sub_x(x.split('@')[0]) + '@' + x.split('@')[1])

In [ ]:
new_df

,customer_id,date_registered,username,gender,email,current_location,residence,employer,job,age,salary,credit_card_provider
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,xxxxxxxx@hotmail.com,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,xxxxxxxxxxxxxx@hotmail.com,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,xxxxx@gmail.com,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,xxxxxxxxxx@gmail.com,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,xxxxxxxx@hotmail.com,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,d6424be2-4351-4535-8bca-34775cdcc411,2021-09-12,weaverpatrick,F,xxxxxxx@yahoo.com,"['-19.0218865', '20.492347']","53290 Jessica Pike Suite 808\nNorth Patricia, ...",Palmer Inc,Press photographer,57,241058,Diners Club / Carte Blanche
9996,d9ac8491-5e97-46ba-a7f3-d12491e9487c,2020-08-15,bmartinez,F,xxxxxxxxxxxxxx@gmail.com,"['-24.0879205', '-39.253362']","21271 Anthony Ports Apt. 438\nButlerport, ND 7...","Adams, Mckee and Maldonado",Phytotherapist,33,26398,VISA 13 digit
9997,1d5e94c5-bfc9-439d-84f6-6bf6c613cb16,2019-10-24,jphelps,F,xxxxxxxxxxx@gmail.com,"['-42.7290705', '-48.446354']","7949 Simmons Cape\nNew Glendaborough, NJ 90980",Fernandez Group,Chartered accountant,24,244563,Discover
9998,15549c9b-caa9-413f-9dd5-84b43648ca23,2020-08-14,josephdavis,M,xxxxx@gmail.com,"['-8.8195715', '17.887337']","3421 Katherine Wall\nEast Markside, NE 95730","Warner, Munoz and Franklin",Oceanographer,44,232825,American Express
9999,2993d9a9-c67f-4383-ae28-c55537b76f06,2020-04-04,barnesandrew,M,xxxxxxx@yahoo.com,"['-40.207589', '76.263738']",Unit 7808 Box 8797\nDPO AA 44228,Payne Ltd,Town planner,48,168859,Mastercard

In [ ]:
# Adding a new column 'new_column' with default value 0
new_df['salary_range'] = ""

In [ ]:

new_df

,customer_id,date_registered,username,gender,email,current_location,residence,employer,job,age,salary,credit_card_provider,salary_range
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,xxxxxxxx@hotmail.com,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,53979,VISA 19 digit,
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,xxxxxxxxxxxxxx@hotmail.com,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,81510,Discover,
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,xxxxx@gmail.com,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,205345,VISA 16 digit,
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,xxxxxxxxxx@gmail.com,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,116095,VISA 16 digit,
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,xxxxxxxx@hotmail.com,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,107529,JCB 16 digit,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,d6424be2-4351-4535-8bca-34775cdcc411,2021-09-12,weaverpatrick,F,xxxxxxx@yahoo.com,"['-19.0218865', '20.492347']","53290 Jessica Pike Suite 808\nNorth Patricia, ...",Palmer Inc,Press photographer,57,241058,Diners Club / Carte Blanche,
9996,d9ac8491-5e97-46ba-a7f3-d12491e9487c,2020-08-15,bmartinez,F,xxxxxxxxxxxxxx@gmail.com,"['-24.0879205', '-39.253362']","21271 Anthony Ports Apt. 438\nButlerport, ND 7...","Adams, Mckee and Maldonado",Phytotherapist,33,26398,VISA 13 digit,
9997,1d5e94c5-bfc9-439d-84f6-6bf6c613cb16,2019-10-24,jphelps,F,xxxxxxxxxxx@gmail.com,"['-42.7290705', '-48.446354']","7949 Simmons Cape\nNew Glendaborough, NJ 90980",Fernandez Group,Chartered accountant,24,244563,Discover,
9998,15549c9b-caa9-413f-9dd5-84b43648ca23,2020-08-14,josephdavis,M,xxxxx@gmail.com,"['-8.8195715', '17.887337']","3421 Katherine Wall\nEast Markside, NE 95730","Warner, Munoz and Franklin",Oceanographer,44,232825,American Express,
9999,2993d9a9-c67f-4383-ae28-c55537b76f06,2020-04-04,barnesandrew,M,xxxxxxx@yahoo.com,"['-40.207589', '76.263738']",Unit 7808 Box 8797\nDPO AA 44228,Payne Ltd,Town planner,48,168859,Mastercard,

In [ ]:
# prompt: find the minimum and maximum value of salary

min_salary = new_df['salary'].min()
max_salary = new_df['salary'].max()

print("Minimum salary:", min_salary)
print("Maximum salary:", max_salary)

Minimum salary: 20014
Maximum salary: 244926

Salary Range
---
10000 - 50000
50000 - 10000
10000 - 20000
above 200000

In [ ]:
# converting salary range as str
# new_df['salary_range'] = new_df['salary_range'].astype(str)

def salary_range(salary):
    if salary >= 10000 and salary <= 50000:
        return '10,000 - 50,000'
    elif salary >= 50000 and salary <= 10000:
        return '50,000 - 10,000'
    elif salary >= 100000 and salary <= 200000:
        return '100,000 - 200,000'
    else:
        return 'above 200,000'



# adding salary range
new_df['salary_range'] = new_df['salary'].apply(salary_range)

In [ ]:
# remove salary column
new_df.drop('salary', axis=1, inplace=True)
new_df

,customer_id,date_registered,username,gender,email,current_location,residence,employer,job,age,credit_card_provider,salary_range
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,xxxxxxxx@hotmail.com,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,VISA 19 digit,"above 200,000"
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,xxxxxxxxxxxxxx@hotmail.com,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,Discover,"above 200,000"
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,xxxxx@gmail.com,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,VISA 16 digit,"above 200,000"
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,xxxxxxxxxx@gmail.com,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,VISA 16 digit,"100,000 - 200,000"
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,xxxxxxxx@hotmail.com,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,JCB 16 digit,"100,000 - 200,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,d6424be2-4351-4535-8bca-34775cdcc411,2021-09-12,weaverpatrick,F,xxxxxxx@yahoo.com,"['-19.0218865', '20.492347']","53290 Jessica Pike Suite 808\nNorth Patricia, ...",Palmer Inc,Press photographer,57,Diners Club / Carte Blanche,"above 200,000"
9996,d9ac8491-5e97-46ba-a7f3-d12491e9487c,2020-08-15,bmartinez,F,xxxxxxxxxxxxxx@gmail.com,"['-24.0879205', '-39.253362']","21271 Anthony Ports Apt. 438\nButlerport, ND 7...","Adams, Mckee and Maldonado",Phytotherapist,33,VISA 13 digit,"10,000 - 50,000"
9997,1d5e94c5-bfc9-439d-84f6-6bf6c613cb16,2019-10-24,jphelps,F,xxxxxxxxxxx@gmail.com,"['-42.7290705', '-48.446354']","7949 Simmons Cape\nNew Glendaborough, NJ 90980",Fernandez Group,Chartered accountant,24,Discover,"above 200,000"
9998,15549c9b-caa9-413f-9dd5-84b43648ca23,2020-08-14,josephdavis,M,xxxxx@gmail.com,"['-8.8195715', '17.887337']","3421 Katherine Wall\nEast Markside, NE 95730","Warner, Munoz and Franklin",Oceanographer,44,American Express,"above 200,000"
9999,2993d9a9-c67f-4383-ae28-c55537b76f06,2020-04-04,barnesandrew,M,xxxxxxx@yahoo.com,"['-40.207589', '76.263738']",Unit 7808 Box 8797\nDPO AA 44228,Payne Ltd,Town planner,48,Mastercard,"100,000 - 200,000"

In [ ]:
new_df.to_excel('output_df.xlsx', index=False)

In [ ]:
new_df

,customer_id,date_registered,username,gender,email,current_location,residence,employer,job,age,credit_card_provider,salary_range
0,24c9d2d0-d0d3-4a90-9a3a-e00e4aac99bd,2021-09-29,robertsbryan,M,xxxxxxxx@hotmail.com,"['78.937112', '71.260464']","195 Brandi Junctions\nNew Julieberg, NE 63410","Byrd, Welch and Holt",Chief Technology Officer,49,VISA 19 digit,"above 200,000"
1,7b2bc220-0296-4914-ba46-d6cc6a55a62a,2019-08-17,egarcia,F,xxxxxxxxxxxxxx@hotmail.com,"['-24.1692185', '100.746122']","58272 Brown Isle Apt. 698\nPort Michael, HI 04693",Hurst PLC,Data scientist,43,Discover,"above 200,000"
2,06febdf9-07fb-4a1b-87d7-a5f97d9a5faf,2019-11-01,turnermegan,M,xxxxx@gmail.com,"['8.019908', '-19.603269']","36848 Jones Lane Suite 282\nMarquezbury, ID 26822","Mora, Caldwell and Guerrero",Chief Operating Officer,47,VISA 16 digit,"above 200,000"
3,23df88e5-5dd3-46af-ac0d-0c6bd92e4b96,2021-12-31,richardcampbell,F,xxxxxxxxxx@gmail.com,"['62.497506', '2.717198']","317 Lamb Cape Apt. 884\nLake Amy, DC 79074",Patel PLC,Counselling psychologist,34,VISA 16 digit,"100,000 - 200,000"
4,6069c2d7-7905-4993-a155-64f6aba143b1,2020-08-09,timothyjackson,F,xxxxxxxx@hotmail.com,"['73.7924695', '-80.314720']","21936 Mary Islands\nMendozafort, TN 37124",Smith-Mejia,Mining engineer,57,JCB 16 digit,"100,000 - 200,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,d6424be2-4351-4535-8bca-34775cdcc411,2021-09-12,weaverpatrick,F,xxxxxxx@yahoo.com,"['-19.0218865', '20.492347']","53290 Jessica Pike Suite 808\nNorth Patricia, ...",Palmer Inc,Press photographer,57,Diners Club / Carte Blanche,"above 200,000"
9996,d9ac8491-5e97-46ba-a7f3-d12491e9487c,2020-08-15,bmartinez,F,xxxxxxxxxxxxxx@gmail.com,"['-24.0879205', '-39.253362']","21271 Anthony Ports Apt. 438\nButlerport, ND 7...","Adams, Mckee and Maldonado",Phytotherapist,33,VISA 13 digit,"10,000 - 50,000"
9997,1d5e94c5-bfc9-439d-84f6-6bf6c613cb16,2019-10-24,jphelps,F,xxxxxxxxxxx@gmail.com,"['-42.7290705', '-48.446354']","7949 Simmons Cape\nNew Glendaborough, NJ 90980",Fernandez Group,Chartered accountant,24,Discover,"above 200,000"
9998,15549c9b-caa9-413f-9dd5-84b43648ca23,2020-08-14,josephdavis,M,xxxxx@gmail.com,"['-8.8195715', '17.887337']","3421 Katherine Wall\nEast Markside, NE 95730","Warner, Munoz and Franklin",Oceanographer,44,American Express,"above 200,000"
9999,2993d9a9-c67f-4383-ae28-c55537b76f06,2020-04-04,barnesandrew,M,xxxxxxx@yahoo.com,"['-40.207589', '76.263738']",Unit 7808 Box 8797\nDPO AA 44228,Payne Ltd,Town planner,48,Mastercard,"100,000 - 200,000"